.footer{
  font-size: 14px;
  position: fixed;
  left: 10px;
  bottom: 16px;
  text-align: left;
  background: rgba(0, 0, 0, .7);
  padding: 8px 24px;
  border-radius: 32px;
  opacity: .95;
  backdrop-filter: blur(8px);
}

.footer a{
  text-decoration: none;
  color: #09f;
  opacity: .8;
}

.footer a:hover{
  text-decoration: underline;
}

.footer h4,
.footer h5{
  margin: 0;
  display: flex;
}